LocationsManager/LocationsManager.xcodeproj/project.xcworkspace/xcuserdata
LocationsManager/LocationsManager.xcodeproj/xcuserdata/*
LocationsManagerHostApp/LocationsManager.xcodeproj/project.xcworkspace/xcuserdata/*
LocationsManagerHostApp/LocationsManager.xcodeproj/xcuserdata
LocationsManagerCore/.swiftpm
